#include <winresrc.h>
//#include <windows.h>


LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US


103 ICON "resources.ico"


VS_VERSION_INFO  VERSIONINFO
FILEVERSION      1,0,0,0
PRODUCTVERSION   1,0,0,0
FILEFLAGSMASK    0x3fL // VS_FFI_FILEFLAGSMASK

#ifdef _DEBUG
  FILEFLAGS      0x00000001L|0x00000008L|0x00000002L  //VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE
#else
  FILEFLAGS      0x00000001L                          //VS_FF_DEBUG (final version)
#endif

FILEOS           0x00040004L              //VOS_NT_WINDOWS32
FILETYPE         0x00000001L              //VFT_APP
FILESUBTYPE      0x00000000L              //VFT2_UNKNOWN (not used)

{
  BLOCK "StringFileInfo"{
    BLOCK "040904E4"{                                     // Lang=US English, CharSet=Windows Multilingual
      VALUE "Build"             ,  "June 1st, 2018\0"
      VALUE "Comments"          ,  "CC Public-Domain.\0"
      VALUE "CompanyName"       ,  "\0"
      VALUE "Developer"         ,  "\0"
      VALUE "FileDescription"   ,  "Application implementing something\0"
      VALUE "FileVersion"       ,  "1.0.0.0\0"
      VALUE "InternalName"      ,  "AppInternalName\0"
      VALUE "LegalCopyright"    ,  "Copyright (C) 2018 - CC Unlicensed, Public-Domain\0"
      VALUE "LegalTrademarks"   ,  "CC Unlicensed, Public-Domain.\0"
      VALUE "OriginalFilename"  ,  "HelloWorld.exe\0"
      VALUE "PrivateBuild"      ,  "\0"
      VALUE "ProductName"       ,  "HelloWorld\0"
      VALUE "ProductVersion"    ,  "1.0.0.0\0"
      VALUE "SpecialBuild"      ,  "\0"
      VALUE "Support"           ,  "HelloWorld at https://github.com/eladkarako/gcc-manifest-icon/ \0"
      VALUE "Users"             ,  "Unlimited.\0"
    }
  }
  BLOCK "VarFileInfo"{
    VALUE "Translation", 1033, 1252
  }
}


1 24 "resources.manifest"

